* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
}
/* body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #CBF1F5;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

img {
    height: 350px;
}

h1 {
    color: #2B2E4A;
}

h2 {
    color: #112D4E;
} */